@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.App {
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 0;
  padding-bottom: 2rem;
}

.upper {
  background-color: #f75d34;
  color: white;
  margin-top: 0;
}
.lower {
  text-align: center;
  align-items: center;
}

.footer {
  text-align: center;
  background-attachment: fixed;
  background-color: #f75d34;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
}
